/* Button style */
.btn {
  font-size: $font-size;
  font-family: $font-primary;
  text-transform: capitalize;
  padding: 1.3rem 3rem;
  font-weight: 500;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  font-weight: 700;

  &-sm {
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
  }
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: 0;
  }
}

.btn-primary {
  color: $white;
  text-align: center;
  text-transform: capitalize;
  background: $black;
  border-color: $black;
  btn-check:focus + &,
  &:focus,
  &:active,
  &:hover,
  &:active:focus,
  &:hover:focus {
    background: $white;
    color: $black;
    border-color: $black;
    box-shadow: none;
  }
}

.btn-outline-primary {
  color: $text-dark;
  border-color: $black;

  &.active,
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: $black;
    border-color: transparent !important;
    color: $white;
    box-shadow: none;
  }
}

.btn-secondary {
  background: linear-gradient(
    160deg,
    lighten($white, 10) 0%,
    darken($white, 5) 100%
  );
  color: $dark;
  border: 0;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $dark;
    box-shadow: 0 10px 30px -6px rgba(#c2c2c2, 0.5);
  }
}

.btn-outline-secondary {
  color: $dark;
  border-color: #c2c2c2;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    box-shadow: 0 10px 30px -6px rgba(#c2c2c2, 0.5);
    background: linear-gradient(
      135deg,
      lighten($white, 10) 0%,
      darken($white, 5) 100%
    );
    border-color: transparent !important;
    color: $dark;
  }
}

.btn-play {
  padding: 6px 25px 6px 7px;
  i {
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 8px;
    font-size: 13px;
    padding-left: 2px;
    background-color: $white;
    color: $color-primary;
    text-align: center;
    transition: 0.2s;
  }
  &:hover i {
    background-color: transparent;
  }
}

.btn-link {
  background: transparent;
  color: $color-primary;
  border-color: transparent;
  text-decoration: none;
  padding: 13px 25px;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    transform: translateY(0);
    background: transparent !important;
    border-color: transparent !important;
    color: $color-primary;
    opacity: 0.75;
    box-shadow: none;
  }
}

// modal-close-btn
.modal-close-btn {
  height: 40px;
  width: 40px;
  background-color: $white;
  color: $dark;
  border-radius: 50%;
  transition: 0.3s;
  padding: 0;
  &:hover {
    transform: scale(1.1);
  }
}
.btn-primarys {
  color: #222222;
  background: $white;
  border: 1px solid #222222;
  font-family: $font-primary;
  font-weight: 700;
  text-transform: capitalize;
  .btn-check:focus + &,
  &:focus,
  &:active,
  &:hover,
  &:active:focus,
  &:hover:focus {
    color: #222222 !important;
    background: $white !important;
    border-color: #222222;
  }
}
// &-secondary {
//   color: $color-white;
//   text-align: center;
//   text-transform: capitalize;
//   background: $color-black;
//   border: $base-border-width solid $color-black;
//   transition: 0.3s all ease-in-out;

//   btn-check:focus + &,
//   &:focus,
//   &:active,
//   &:hover,
//   &:active:focus,
//   &:hover:focus {
//     border: $base-border-width solid $color-black;
//     background: $color-black;
//     color: $color-white;
//   }
// }
// &-secondary-white {
//   color: $color-black;
//   text-align: center;
//   text-transform: capitalize;
//   background: $color-white;
//   border: $base-border-width solid $color-black;
//   transition: 0.3s all ease-in-out;
//   border-radius: 6px !important;

//   btn-check:focus + &,
//   &:focus,
//   &:active,
//   &:hover,
//   &:active:focus,
//   &:hover:focus {
//     border: $base-border-width solid $black;
//     background: $black;
//     color: $white;
//   }
// }
