body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $color-primary, $amount: 10);
  color: $white;
}

img {
  vertical-align: middle;
  border: 0;
  height: auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $color-primary;
}
.subtitle {
  @extend .font-secondary;
  @extend .fw-700;
  @extend .text-capitalize;
  @extend .text-quaternary;
}
.title {
  @extend .text-capitalize;
}

// default-pagination and social-links
.social-links {
  li {
    margin: 4px;
    a {
      font-weight: 500;
      border-radius: 12px !important;
      height: 45px;
      width: 45px;
      padding: 0;
      line-height: 45px;
      text-align: center;
      color: $text-dark;
      &:hover,
      &:focus {
        box-shadow: none;
        color: $white;
      }
    }
    &:nth-child(even) {
      a:hover,
      a:focus {
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }
    &:nth-child(odd) {
      a:hover,
      a:focus {
        background-color: $color-tertiary;
        border-color: $color-tertiary;
      }
    }
  }
}
.social-links {
  a {
    font-size: 16px;
    display: block;
    background-color: $white;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.rounded-sm {
  border-radius: 12px;
  @include mobile {
    border-radius: 6px;
  }
}
.rounded-md {
  border-radius: 20px;
  @include tablet {
    border-radius: 12px;
  }
  @include mobile {
    border-radius: 6px;
  }
}
.rounded-lg {
  border-radius: 25px;
  @include tablet {
    border-radius: 15px;
  }
  @include mobile {
    border-radius: 6px;
  }
}

.font-primary {
  font-family: $font-primary;
}
.font-secondary {
  font-family: $font-secondary;
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.bg-primary {
  background: $color-primary !important;
}
.bg-primary-light {
  background: $color-primary-light !important;
}
.text-primary {
  color: $color-primary !important;
}
.bg-secondary {
  background: $color-secondary !important;
}
.bg-quaternary {
  background: $color-quaternary !important;
}
.text-secondary {
  color: $color-secondary !important;
}
.bg-black {
  background: $black !important;
}
.bg-tertiary {
  background: $color-tertiary !important;
}
.bg-tertiary-soft {
  background: lighten(saturate($color-tertiary, 22.22), 26.27) !important;
}
.text-tertiary {
  color: $color-tertiary !important;
}

.bg-quaternary {
  background: $color-quaternary !important;
}
.bg-quaternary-soft {
  background: lighten(
    saturate(adjust-hue($color-quaternary, -1), 19.78),
    45.49
  ) !important;
}
.text-dark {
  color: #333333 !important;
}
.text-quaternary {
  color: $color-quaternary !important;
}

.text-muted,
.text-default {
  color: $text-color !important;
}

.border-dark {
  border-color: #606060 !important;
}

// form-control

.form-control {
  padding: 20px;
  border: 1px solid rgba($black, 0.1);
  height: 56px;
  transition: 0.3s ease;
  &:focus {
    border-color: rgba($color-primary, 0.5);
  }
}

textarea.form-control {
  height: auto;
}

.form-control[type="file"] {
  padding: 11px 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form label {
  font-weight: 500;
  font-size: 80%;
  margin-bottom: 4px;
}

.custom-checkbox {
  margin-top: 15px;

  .custom-control-label::before {
    border-radius: 0;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: $color-primary;
    border-color: $color-primary;
    box-shadow: none;
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    box-shadow: none;
    border-color: $color-primary;
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba($color-primary, 0.5);
    border-color: rgba($color-primary, 0.2);
  }
}

// check-list
.check-list {
  list-style: none;
  padding: 0;
  li {
    font-size: $base-font-size * 1.25;
    margin-right: 24px;
    color: $text-dark;
    font-family: $font-primary;
    font-weight: 500;
    display: flex;
    align-items: center;
    i {
      // position: absolute;
      // left: 0;
      // top: 8px;
      // font-size: 85%;
      color: $color-quaternary;
      font-family: $font-icon;
    }
    a {
      color: $dark;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
.check-list-inline {
  display: flex;
  // li {
  //   border-color: $border-color;
  //   &:last-child {
  //     border-right: none;
  //   }
  // }
}

//form-action
.form-action {
  .from-group {
    .input-group {
      .form-control {
        width: 70% !important;
        z-index: 0;
        box-shadow: 0px 23px 60px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border: none;
        padding: 36px 32px !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        &:focus {
          border-color: transparent;
        }
      }
      .quote {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
      }
    }
  }
  ::placeholder {
    font-size: $font-size * 1.1;
    color: #999999;
    font-family: $font-primary;
  }
}

//carve-shape
.carve-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Line style
.line {
  left: 0;
  right: 0;
  span {
    border-left: 1px dashed #eaeaea;
  }
}
.title {
  width: 60%;
}
// Section-Title style
.section-title,
.item-content {
  padding: $base-padding * 8 0 $base-padding * 3.5;
  text-align: center;
  position: relative;
  span {
    display: inline-block;
    text-transform: uppercase;
    color: $color-primary;
    font-size: $base-font-size * 1.1;
    font-weight: 500;
    margin-bottom: $base-margin * 1.5;
  }
  h2 {
    font-size: $base-font-size * 3;
    margin-bottom: $base-margin * 1.5;
    line-height: 74px;
    text-transform: capitalize;
  }
  p {
    font-size: $base-font-size * 1.1;
    line-height: 28px;
    margin-bottom: 0;
    padding: 0 $base-padding * 3;
  }
}
.item-content {
  padding: $base-padding * 0;
  h2 {
    @include desktop-xl {
      font-size: $base-font-size * 2.8;
      line-height: 60px;
    }
  }
  p {
    padding: $base-padding * 0 $base-padding * 0 $base-padding * 0 $base-padding *
      1.9;
  }
}
// Card style
.card {
  padding: $base-padding * 3.3 $base-padding * 1.8 $base-padding * 3.2;
  background: $white;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  @include desktop-xl {
    padding: $base-padding * 3.3 $base-padding * 1.5 $base-padding * 3.2;
  }

  &-body {
    padding: 0;
  }
  &-title {
    font-size: 24px;
    line-height: 28px;
    color: $text-dark;
    @include desktop-xl {
      font-size: 20px;
    }
  }
}

//cta-banner-section banner-section
.content {
  padding: $base-padding * 2;
  h1 {
    font-size: 74px;
    line-height: 89px;
    margin-top: $base-margin * 3;
    padding-right: $base-padding * 9.5;
    @include desktop-xl {
      font-size: 64px;
      padding-right: $base-padding * 7.5;
    }
  }
  p {
    font-size: 20px;
    line-height: 30px;
    padding-right: $base-padding * 3.2;
    margin-bottom: $base-margin * 2.5;
    @include desktop-xl {
      padding-right: $base-padding * 1.9;
    }
  }

  h2 {
    font-size: 48px;
  }
  .banner-image {
    z-index: 1;
    margin-right: 30px;
    &::after,
    &::before {
      position: absolute;
      content: "";
      clip-path: polygon(40% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 33%);
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}
.row {
  --bs-gutter-x: 1.5rem;
}
