<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Spyadea</title>


  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Slick -->
  <link rel="stylesheet" href="plugins/slick/slick.min.css">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="plugins/font-awesome/fontawesome.min.css">
  <link rel="stylesheet" href="plugins/font-awesome/brands.css">
  <link rel="stylesheet" href="plugins/font-awesome/solid.css">
  <link rel="stylesheet" href="plugins/font-awesome/regular.css">
  <link rel="stylesheet" href="plugins/swiper/swiper-bundle.min.css">


  <link
    href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Merriweather:wght@400;700&display=swap"
    rel="stylesheet">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

</head>

<body>