// main content
main {
  overflow: hidden;
  position: relative;
}
main:empty {
  display: none;
}
/********** 
 Banner-Section Styles
**********/
.banner-section {
  .carve-shape {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 51%);
    .line {
      span {
        border-left: 1px dashed #ffd54a;
      }
    }
  }
  padding: $base-padding * 12.5 0 $base-padding * 8.5;
  @include desktop-xl {
    padding: $base-padding * 10 0 $base-padding * 6.5;
  }

  .form-action {
    margin-right: 100px;
  }
  .banner-image {
    z-index: 1;
    margin-right: 30px;
    img {
      clip-path: polygon(40% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 33%);
      max-width: 100%;
    }
    .shape-1,
    .shape-2,
    .shape-3,
    .shape-4 {
      position: absolute;
      clip-path: none;
      z-index: -1;
    }
    .shape-1 {
      top: -70px;
      left: -16px;
    }
    .shape-2 {
      left: -80px;
    }
    .shape-2,
    .shape-3 {
      bottom: 70px;
      z-index: 1;
    }
    .shape-3,
    .shape-4 {
      right: -90px;
    }
    .shape-4 {
      bottom: -70px;
      z-index: -2;
    }

    &::after,
    &::before {
      clip-path: polygon(40% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 33%);
    }
    &::after {
      background: #ff9289;
      top: -30px;
      left: -30px;
    }
    &::before {
      background: #ffe179;
      bottom: -30px;
      right: -30px;
    }
  }
}
/********** 
 Brands-Section Styles
**********/
.brands-section {
  padding-bottom: $base-padding * 8.1;
  .brands-wrapper {
    padding: $base-padding * 4.4 $base-padding * 5.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1460px;
    margin: 0 auto;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    row-gap: 45px;

    img {
      max-width: 100%;
    }
    .logo {
      flex: 1 1 220px;
    }
  }
}
/********** 
 Services-Section Styles  
**********/
.services-section {
  .carve-shape {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    .line {
      span {
        border-left: 1px dashed #b5e0ff;
      }
    }
  }
  padding-bottom: $base-padding * 5.6;
  .card {
    transition: all 0.3s ease-in-out;
    &-text {
      line-height: 26px;
    }
    &:hover {
      box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.04);
    }
  }
  .services-shape {
    img:nth-child(1),
    img:nth-child(2) {
      position: absolute;
    }
    img:nth-child(1) {
      left: 0;
      top: 5%;
    }

    img:nth-child(2) {
      right: 0;
      top: 20%;
    }
  }
}
// page-header
.page-header {
  .block {
    padding-top: 40px;
    padding-bottom: 90px;
  }
  a.text-muted:hover {
    color: $color-primary !important;
    text-decoration: underline;
  }
  .has-wave .wave-right {
    top: auto;
    bottom: 0;
  }
  &-alt {
    padding: 90px 0;
  }
}

/********** 
  features-section Styles
**********/
.features-section {
  .card {
    padding: 0 $base-padding * 1.9;
    margin-bottom: $base-margin * 1.9;
    transition: all 0.3s ease-in-out;
  }
  .active {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  }
  .tab-content {
    z-index: 1;
    border-radius: 10px;
    img {
      max-width: 100%;
    }
    .shape-one,
    .shape-two {
      top: -45px;
      right: -70px;
      z-index: -1;
    }
    .shape-two {
      top: 80%;
      right: -60px;
    }
  }
  .nav-tabs {
    border-bottom: none;
  }
}
/********** 
Counter Up Section Styles
**********/
.counter-up {
  &-wrapper {
    padding: $base-padding * 3.4 $base-padding * 3 $base-padding * 3;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    .counter,
    .percent {
      color: $black;
      font-family: $font-secondary;
      font-size: $base-font-size * 4.25;
    }
  }
  &-content {
    &-item {
      border-right: 1px dashed;

      p {
        color: $text-dark;
        font-size: $base-font-size * 1.35;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
}
/********** 
how-it-work-section
**********/
.how-it-work-section {
  .carve-shape {
    clip-path: polygon(0 8%, 100% 0, 100% 82%, 0 100%);
    .line {
      span {
        border-left: 1px dashed #b5e0ff;
      }
    }
  }
  .item-image {
    z-index: 1;
    img {
      max-width: 100%;
    }

    .banner-bg-vector {
      &-one,
      &-three {
        top: -30px;
        left: -30px;
        z-index: -1;
      }
      &-two,
      &-four {
        bottom: -30px;
        right: 30px;
        z-index: -1;
      }

      &-four {
        right: -30px;
      }
    }
    .banner-shape {
      &-one,
      &-two,
      &-five,
      &-six,
      &-seven,
      &-eight {
        z-index: 1;
      }
      &-one {
        bottom: -30px;
        left: -70px;
      }
      &-two,
      &-four {
        top: 90px;
        right: 0px;
      }
      &-three {
        bottom: -28px;
        left: -130px;
        z-index: -1;
      }
      &-four {
        top: -50px;
        z-index: -1;
      }
      &-five {
        bottom: -10px;
        left: -50px;
      }
      &-six {
        right: -50px;
        top: 40px;
        right: 0px;
      }
    }
    &-seven {
      top: -45px;
      left: -40px;
      z-index: -1;
      left: -40px;
    }
  }
}
/********** 
Testimonial-section  
**********/
.testimonial-section {
  .card {
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.04);
    border-radius: 10px;

    &-icon {
      text-align: center;
      padding: 70px 60px;
    }
    &-title {
      font-size: $base-font-size * 1.5;
      font-family: $font-secondary;
    }
    &-text {
      color: $text-dark;
      font-size: $base-font-size * 1.1;
      line-height: 28px;
    }
    .author {
      h4 {
        font-size: $base-font-size * 1.1;
        color: $text-dark;
        font-family: $font-primary;
      }
      p {
        color: $text-dark;
      }
    }
    .vactor {
      &-one,
      &-two,
      &-three {
        z-index: -1;
      }
      &-two,
      &-three {
        right: -75px;
      }
      &-one {
        top: 20px;
        left: -100px;
      }
      &-two {
        top: -24px;
      }
      &-three {
        bottom: -100px;
      }
    }
  }
}
/********** 
blog-section 
**********/
.blog-section {
  margin-bottom: 100px;
  .carve-shape {
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 52%);
    .line {
      span {
        border-left: 1px dashed #b5e0ff;
      }
    }
  }
  &-shap {
    .vactor-one {
      bottom: 30px;
      left: -30px;
    }
    .vactor-two {
      top: 35%;
      z-index: 1;
      right: -30px;
    }
  }
  .blog-post {
    border-radius: 10px;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.06);
    &-thumb {
      border-radius: 10px 10px 0px 0px;
      img {
        border-radius: 10px 10px 0px 0px;
        transform: scale(1) rotate(0deg);
        width: 100%;
        transition: 0.6s ease-in-out;
      }
    }
    &-author {
      margin: -$base-margin * 3 0 $base-margin * 1;
      z-index: 1;

      .author-details {
        margin-left: -$base-margin * 2;
        z-index: -1;
        p {
          font-size: $base-font-size * 0.9;
        }
      }
    }
    .card-title {
      color: $text-dark;
      font-size: $base-font-size * 1.5;
      font-family: $font-primary;
      font-weight: 700;
      line-height: 34px;
    }
    .card-body {
      padding: $base-padding * 0 $base-padding * 1.9 $base-padding * 3;
    }
    &-meta {
      li {
        color: $text-dark;
        background: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: $font-primary;
        font-weight: 700;
      }
    }
    &:hover {
      .blog-post-thumb {
        img {
          transform: scale(1.1) rotate(0deg);
        }
      }
    }
  }
}
/********** 
cta-section
**********/

.cta-section {
  margin-top: -$base-margin * 4;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: $base-padding * 4;
  margin-bottom: 100px;
  .shap {
    left: 0;
    .vactor-one {
      top: -100px;
      left: -85px;
    }
    .vactor-two {
      right: -60px;
    }
    .vactor-three {
      bottom: 0%;
      right: 50%;
      transform: translateX(50%);
    }
  }

  .banner-image {
    z-index: 1;
    margin-right: 30px;
    padding-top: 40px;
    .shape-1,
    .shape-2,
    .shape-3,
    .shape-4 {
      position: absolute;
      clip-path: none;
      z-index: -1;
    }
    .shape-1 {
      top: -70px;
      left: -16px;
    }
    .shape-2 {
      left: -80px;
    }
    .shape-2,
    .shape-3 {
      bottom: 70px;
      z-index: 1;
    }
    .shape-3,
    .shape-4 {
      right: -90px;
    }
    .shape-4 {
      bottom: -70px;
      z-index: -2;
    }

    &::after,
    &::before {
      clip-path: polygon(40% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 33%);
      width: 100%;
      height: 80%;
      background: #6fabf6;
    }
    &::after {
      top: 10px;
      left: -30px;
    }
    &::before {
      bottom: -30px;
      right: -30px;
      clip-path: polygon(0 0, 100% 0, 100% 76%, 70% 100%, 0 100%, 0% 50%);
    }
  }
}
/********** 
15. Footer Section Styles
**********/
.footer {
  .carve-shape {
    clip-path: polygon(0 17%, 100% 40%, 100% 100%, 0 100%);
    .line {
      span {
        border-left: 1px dashed #272727;
      }
    }
  }
  &-widget {
    border-color: $text-dark;
    h6 {
      font-family: $font-primary;
      font-size: $base-font-size * 1.1;
    }
    ul {
      margin-bottom: $base-margin * 0;
      li {
        margin-bottom: $base-margin * 2;

        a {
          color: $white;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #f0c220;
          }
        }
      }
    }
    .social-icon {
      ul {
        li {
          display: inline-block;
          margin-right: $base-margin * 2;
          margin-bottom: 0;
          &:last-child {
            margin-right: $base-margin * 0;
          }
          @include desktop-xl {
            margin-right: $base-margin * 1;
          }
          a {
            svg {
              transition: all 0.3s ease-in-out;
              transform: translateY(0px);
              circle {
                transition: all 0.3s ease-in-out;
              }
            }
            &:hover {
              svg {
                transform: translateY(-10px);
                circle {
                  fill: #f0c220;
                }
              }
            }
          }
        }
      }
    }
    .mailto {
      color: #f0c220;
      transition: all 0.3s ease-in-out;
      font-family: $font-primary;
      &:hover {
        color: $white;
      }
    }
  }
}
